<style>
  p#cont{
    text-align: justify;
    font-size: 22px;
  }
</style>
<h2>Read More: </h2>
<hr>
<div class="card">
  <div class="card-body">
    <h2>{{posts.title}}</h2>
    <p id="cont">{{posts.content}}</p>
    <hr>
    <small>Slug: {{posts.slug}}</small><br>
    <small>Date: {{posts.date}}</small><br>
    <a href="/"><button class="btn btn-outline-light mt-2">Back</button></a>
  </div>
</div>