<div class="card">
  <div class="card-body">
    <form action="/users/login/on" method="post">
      <label for="email">Email:</label>
        <input type="email" name="email" class="form-control" ><br>
      <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" >
      <button class="btn btn-outline-primary mt-3" type="submit">Login</button>
    </form>
  </div>
</div>